/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* BOX SIZING */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* CUSTOM STYLES */

body {
  background-color: #2b292d;
  font: 300 50px/60px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  line-height: 100px;
  float: left;
  box-shadow:
    1px 0 0 0 #888,
    0 1px 0 0 #888,
    1px 1px 0 0 #888,
    1px 0 0 0 #888 inset,
    0 1px 0 0 #888 inset;
}

.empty:hover {
  background-color: #525054;

}

#board {
  width: 300px;
  margin: auto;
}

#game {
  border-collapse: collapse;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}

h1 {
  font-size: 30px;
}

#hint {
  font-size: 18px
}
